.filter {
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  display: flex;
  align-items: center;
  gap: 20px;
  &-link {
    cursor: pointer;
    color: #2f80ed;
  }
  table {
    th {
      cursor: pointer;
      color: #2f80ed;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.label {
  color: #929292;
}
.colored {
  color: #2f80ed;
}
.input {
  width: 149px;
  height: 16px;
  border: none;
}
