.filter {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  gap: 20px;
}
button {
  text-decoration-line: underline;
  color: #2f80ed;
  border: none;
  background: transparent;
  cursor: pointer;
}
.label {
  color: #929292;
}
.colored {
  color: #2f80ed;
}
.input {
  width: 149px;
  height: 13px;
  border: none;
}
