.search-item {
  width: 300px;
  height: 400px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  &__content {
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
img {
  width: 100%;
}
.stats-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  &-item {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: right;

  color: #4f4f4f;
}
