.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.text {
  color: #828282;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
